torch==2.2.2
transformers==4.37.0
tokenizers==0.13.3
langchain==0.1.13
langchain-core==0.1.37
langchain-community==0.0.25
langchain-huggingface==0.0.2
faiss-cpu==1.7.4
sentence-transformers==2.2.2
playwright==1.42.0
unstructured==0.10.30
tiktoken==0.6.0
