torch
--extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.38.2
langchain==0.1.13
langchain-core==0.1.37
langchain-community>=0.0.38,<0.1
langchain-huggingface==0.0.2
faiss-cpu
sentence-transformers
playwright
unstructured
tiktoken
tokenizers>=0.19,<0.20
numpy
